<a href="https://colab.research.google.com/github/ManupatiEshwar/Data-Mining/blob/main/LAB5.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd;

In [2]:
data = {
    'City': ['New York', 'New York', 'Los Angeles', 'Los Angeles', 'Chicago', 'Chicago'],
    'Product Category': ['Electronics', 'Clothing', 'Electronics', 'Clothing', 'Electronics', 'Clothing'],
    'Sales': [1000, 500, 1500, 700, 800, 600]
}

In [4]:
df = pd.DataFrame(data)

In [5]:
df

          City Product Category  Sales
0     New York      Electronics   1000
1     New York         Clothing    500
2  Los Angeles      Electronics   1500
3  Los Angeles         Clothing    700
4      Chicago      Electronics    800
5      Chicago         Clothing    600

In [6]:
city_sales = df.groupby('City')['Sales'].sum()
print(city_sales)

City
Chicago        1400
Los Angeles    2200
New York       1500
Name: Sales, dtype: int64

In [7]:
city_sales = df.groupby('City')['Sales'].max()
print(city_sales)

City
Chicago         800
Los Angeles    1500
New York       1000
Name: Sales, dtype: int64

In [8]:
city_sales = df.groupby('City')['Sales'].mean()
print(city_sales)

City
Chicago         700.0
Los Angeles    1100.0
New York        750.0
Name: Sales, dtype: float64

In [9]:
city_sales = df.groupby('City')['Sales'].max()
print(city_sales)

City
Chicago         800
Los Angeles    1500
New York       1000
Name: Sales, dtype: int64

In [10]:
pivot_sales = df.pivot_table(values='Sales', index='City', columns='Product Category', aggfunc='mean', fill_value=0)

In [11]:
print(pivot_sales)

Product Category  Clothing  Electronics
City
Chicago              600.0        800.0
Los Angeles          700.0       1500.0
New York             500.0       1000.0